<h2>About me</h2>
<div>
  <%= image_tag "me.jpg", width: '100%' %>
</div>
<p>
  I'm a freelance coder specialising in Ruby on Rails development, with additional expertise in Java, Python,
  and various other technologies.
  I work on projects in web development, data processing, and hardware integration.
</p>
<p>
  I have eight years' experience as a full-time developer in the corporate and third sectors, have developed
  bespoke administration and booking systems for small businesses, and have built interactive audio-visual
  installations at several festivals.
</p>
<div>
  <div class="left-half">
    <h5>Contact</h5>
  </div>
  <div class="right-half">
    <a class="contact-btn" title="Contact me">
      <%= image_tag 'envelope.png', alt: 'Visit me on GitHub' %>
    </a>
  </div>
</div>
