<div class="container">
  <div class="row">
    <div class="eight columns">
      <h1>Projects</h1>
      <p>
        <% @projects.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |project| %>
                <div class="four columns project"
                     style="background-image: url('<%= project.image %>')"
                      title="<%= project.description %>">
                  <div class="project-title">
                    <%= project.title %>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
      </p>
    </div>
    <div class="four columns about-me">
      <%= render partial: 'shared/aboutme' %>
    </div>
  </div>
</div>

