/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Bai Jamjuree', sans-serif;
}


nav {
    padding: 5px;
}
nav a {
    text-decoration: none;
    opacity: 1.0;
}

.project-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: black;
    opacity: 0.7;
}

.project {
    color: white;
    border: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    box-shadow: 0 0 100px black inset;
    transition: all .2s ease-in-out;
    border-radius: 5px;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.project-page img {
    width: 100%;
    padding: 10px;
}


.project a {
    text-decoration: none;
    color: white;
}

.project a:hover {
    color: #faff96;
}

.project:hover {
    transform: scale(1.1);
}

.form-table label {
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
}

.form-table em {
    text-align: right;
    float: right;
}

#user_remember_me {
    margin-top: 20px;
}

.form-table tr {
    padding: 2px;
}

.form-table td {
    padding: 2px;
}

.my-sidebar {
    background-color: rgb(128, 29, 27);
}

.my-sidebar a {
    text-decoration: none;
}
.content {
    background-color: rgb(241, 231, 210);
    overflow: scroll;
}

.my-name {
    font-family: 'Rock Salt', sans-serif;;
    font-weight: normal;
    font-size: xx-large;
    color: white;
}

.my-tag {
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    font-weight: normal;
    color: rgb(222, 137, 121);
}

.contact-btn {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.about-me {
    background: rgb(55, 14, 13);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
}
.about-me img {
    /*border: 1px solid #939393;*/
    border-radius: 5px;
}

.left-half {
    width: 50%;
    float: left;
    text-align: right;
}

.right-half {
    width: calc(50% - 10px);
    float: right;
    text-align: left;
    padding-left: 10px;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .my-sidebar {
        text-align: center;
        color: white;
        width:100%;
        height: 10%;
        padding-top: 20px;
    }
    .content {
        padding: 5px;
        position: absolute;
        height: 90%;
        width: 100%
    }
}



/* Larger than tablet */
@media (min-width: 750px) {
    nav {
        padding-top: 30px;
    }
    .outer {
        flex-flow: column;
        overflow: hidden;
    }
    .my-sidebar {
        overflow: hidden;
        text-align: right;
        width:calc(30% - 40px);
        height: calc(100% - 200px);
        padding: 200px 20px 0 20px;
        position: absolute;
    }
    .content {
        margin-left: 30%;
        float: left;
        padding: 5px;
        width: calc(70% - 10px);
        height: calc(100% - 10px);
        position: absolute;
    }
}

/* Larger than phablet (also point when grid becomes active) */
/*@media (min-width: 550px) {}*/

/* Larger than desktop */
/*@media (min-width: 1000px) {}*/

/* Larger than Desktop HD */
/*@media (min-width: 1200px) {}*/

/* Devise notices */
.notice {
    color: #00ed00;
    display: inline;
}

.alert {
    color: #ffd128;
    display: inline;
}